* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(360deg, aqua, blue,orangered, magenta );
    background-size: 200% 200%;
    animation: gradientAnimation 20s ease infinite;
    overflow: hidden;
}
.card .front-view img{
    width: 40px;
}
.card .back-view img{
    max-width: 80px;
}
.h1{
    padding-bottom: 28px;
}
.container{
    height:500px;
    width: 500px;
    background-image: linear-gradient(to right, #fc6767, #ec008c);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px;
    text-align: center;
}
.controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    
}
#start-button, #restart-button, #timer, #attempts, #score{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Add margin between the buttons */
#start-button {
    margin-right: 20px;
    font-weight: 600;
    background-color: rgb(27, 245, 27); /* Adjust this value to increase/decrease the gap */
}
#restart-button{
    background-color: orange;
    font-weight: 600;
}
#timer{
    background-color: lightseagreen;
    font-weight: 600;
}
#attempts{
    background-color: white;
    font-weight: 600;
}
#score{
    background-color: gold;
    font-weight: 600;
    font-weight: bolder;
}
#start-button, #restart-button,  #timer, #attempts, #score{
    margin: 10px; /* Adds space around each button */
}
.cards,
.card,
.view{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .card{
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    cursor: pointer;

    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
}
.cards .card .view{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 25px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.616);

    position: absolute;
    transition: transform .25s linear;
    backface-visibility: hidden;
    pointer-events: none;
    user-select: none;
}
.card .front-view span{
    font-size: 40px;
    color: #6563ff;
}
.card .back-view{
    /* display: none; */

    transform: rotateY(-180deg);
}

/* .card:hover .back-view{
    transform: rotateY(0);
}
.card:hover .front-view{
    transform: rotateY(180deg);
} js 3*/


/*JS 3*/
.card.flip .back-view{
    transform: rotateY(0);
}
.card.flip .front-view{
    transform: rotateY(180deg);
}
/*JS 7.2*/
.card.shake{
    animation: shake 0.35s ease-in-out;
}
@keyframes shake {
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}
.easy{
    background-color: rgb(13, 90, 231);
}
.medium{
    background-color: orange;
}
.hard{
    background-color: red;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
